.category-tabs {
    padding: 60px 0;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 30%;
        left: 0;
        background-image: url("../img/category-tabs-decor.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 51px;
        height: 55px;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 15%;
        right: 0;
        background-image: url("../img/category-tabs-decor2.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 51px;
        height: 60px;
    }
    &__header {
        margin-bottom: 36px;
        padding: 0 20px;

    }
    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    &__menu-item {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #333333;
        width: fit-content;
        background: #f0f0f0;
        border-radius: 3px;
        padding: 13px 20px;
        margin: 0 2px;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
        &.active {
            background-color: #0c7373;
            color: #fff;
        }
    }
    &__main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        border-top: #eeeeee solid 1px;
        padding-top: 10px;
        .products-carousel__slide {
            border-left: #eeeeee solid 1px;
            border-right: #eeeeee solid 1px;
            border-bottom: #eeeeee solid 1px;
            overflow: visible;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                bottom: -10px;
                right: -10px;
                display: block;
                height: 20px;
                width: 20px;
                background-color: #fff;
                z-index: 10;
            }
            &:after {
                position: absolute;
                bottom: -10px;
                content: "";
                display: block;
                height: 20px;
                width: 20px;
                background: #fff;
                z-index: 10;
                left: -10px;
            }
        }
    }
    &__footer {
        margin-top: 36px;
        padding: 0 20px;
    }
    &__sort {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
        .block {
            background-image: url("../img/View-ic.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
        }
        .list {
            background-image: url("../img/View-ic2.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
        }
    }
    &__sort-price {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 12px;
        color: #fd7400;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 2px;
            right: -12px;
            background-image: url("../img/sort-price-arrow.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            width: 7px;
            height: 8px;
        }
    }
    &__sort-control {
        display: flex;
        gap: 10px;
        align-items: center;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 12px;
        color: #fd7400;
    }
    &__pagination {
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            gap: 15px;
            li{
                margin: 0;
            }
            a {
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 19px;
                text-align: center;
                color: #8a8a8a;
                padding: 0 5px;
                &.active {
                    border: 1px solid #fd7400;
                    border-radius: 3px;
                }
            }
        }
        .btn{
            margin: auto;
        }
    }
    &__pagination-control{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .swiper-slide{
        width: fit-content;
    }
    .swiper-button-prev{
        background-image: url("../img/swiper-arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(-180deg);
        left: -20px;
    }
    .swiper-button-next{
        background-image: url("../img/swiper-arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        right: -20px;
    }
    .swiper-button-disabled{
        display: none;
    }
    @include r(767) {
        &__main {
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-top: #eeeeee solid 1px;
            padding-top: 10px;
        }
        &__pagination {
            margin: 20px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            ul {
            display: none;
            }
        }
        &__pagination-control{
            display: none;
        }
    }
}
