.products-carousel{
	&__slide {
		overflow: hidden;
		border: 1px solid #fff;
		transition: border .15s ease,box-shadow .15s ease;
		&:hover {
			z-index: 1;
			border-color: #dfdcdf;
			border-radius: 4px;
			box-shadow: 0 6px 18px rgba(0, 0, 0 , .1), 0 2px 3px rgba(0, 0, 0 , .09);
		}
	}
	.slick-list {
		margin-bottom: -20px;
		padding-bottom: 20px;
	}
	&.slick-slider--stretch{
		.slick-track {
			display: -ms-inline-flexbox;
			display: inline-flex;
			-ms-flex-align: stretch;
			align-items: stretch;
		}
	}
	.slick-dots {
		list-style: none;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 20px 0 2px;
		margin: 0;
		width: 100%;
		li {
			position: relative;
			margin: 0 6px;
			padding: 0;
			cursor: pointer;
			button{
				border: 0;
				display: block;
				height: 4px;
				width: 4px;
				padding: 0;
				outline: none;
				line-height: 0;
				font-size: 0;
				color: #0000;
				cursor: pointer;
				background-color: #0C7373;
				border-radius: 50%;
				opacity: .25;
			}
			&.slick-active button {
				color: #0C7373;
				opacity: 1;
			}
		}
	}

	.slick-arrow{
		position: absolute;
		z-index: 1;
		display: flex;
		align-items: center;
		width: 50px;
		height: 50px;
		background: #FFFFFF;
		color: transparent;
		top: 50%;
		font-size: 24px;
		transform: translateY(-50%);
		border-radius: 50%;
		transition: background-color .15s ease;
		border: none;
		opacity: 1;
		background-image: url("../img/arrow-slick.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 8px 16px;
	}
	.slick-prev{
		left: -25px;
		transform: translateY(-50%) rotate(180deg);
	}
	.slick-next{
		right: -25px;
	}
	.slick-disabled{
		opacity: 0;
		pointer-events: none;
	}
	@include r(374){
		.slick-slide{
			img{
				width: 100%;
			}
		}
	}
}