.promo-products-slider{
	position: relative;
	&__item{
		background-color: #fff;
		border-radius: 10px;
		padding: 18px;
		margin: 0;
		position: relative;
		&:before{
			z-index: 10;
			content: 'Скоро в продаже';
			position: absolute;
			top: 30px;
			left: -15px;
			background-image: url("../img/slider-label.svg");
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 21px;
			text-transform: uppercase;
			color: #FFFFFF;
			width: 177px;
			height: 64px;
			display: flex;
			align-items: center;
			justify-content: center;
			pointer-events: none;
		}
	}

	&__img{
		margin-bottom: 10px;
		img{
			max-width: 100%;
		}
	}
	&__name{
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 17px;
		text-align: center;
		color: #333333;
		margin-bottom: 20px;
	}
	.slick-list{
		margin: 0 -15px;
	}
	.slick-slide {padding: 0 15px;}
	.btn{
		margin: 0 auto 37px;
		width: fit-content;
		display: block;
	}
	@include r(767){
		&__name{
			font-size: 16px;
			line-height: 17px;
		}
	}
}