.promo-products {
    display: grid;
    grid-template-columns: 440px 1fr;
    grid-gap: 10px;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 23px;
    }
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 30px;
        color: #ffffff;
    }
    img{
        max-width: 100%;
        display: block;
    }
    .products-carousel__slide{
        border: none;
    }


    .slick-dots {
        list-style: none;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 20px 0 2px;
        margin: 0;
        width: 100%;
        li {
            position: relative;
            margin: 0 6px;
            padding: 0;
            cursor: pointer;
            button{
                border: 0;
                display: block;
                height: 4px;
                width: 4px;
                padding: 0;
                outline: none;
                line-height: 0;
                font-size: 0;
                color: #0000;
                cursor: pointer;
                background-color: #0C7373;
                border-radius: 50%;
                opacity: .25;
            }
            &.slick-active button {
                color: #0C7373;
                opacity: 1;
            }
        }
    }
}
