.slider-top-school {
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 21px;
  }
  &__body{
    width: 100%;
  }

}