.slider-top-school {
  margin-top: -64px;
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 21px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 10px;
      left: -260px;
      background-image: url("../img/slider-top-school-decor-title.svg");
      background-repeat: no-repeat;
      width: 237px;
      height: 20px;
    }
  }
  &__body{
    width: 100%;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      bottom: -20px;
      left: -40px;
      background-image: url("../img/slider-top-school-decor.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      width: 94px;
      height: 98px;
    }
  }
  @include r(767){
    &__title {
      font-size: 18px;
      line-height: 23px;
      &:before{
        display: none;
      }
    }
  }
}